{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
  <ul>
      <li>did call is_valid? {{ call_isvalid }}</li>
      {% if call_isvalid == 'yes' %}
        <li>was form valid? {{ validform }}</li>
      {% endif %}
  </ul>
  <form method="POST" action="{% url 'testreg' %}">
    {% csrf_token %}
    <fieldset class="form-group">
      <legend class="border-bottom mb-4">reg test</legend>
      {{ form|crispy }}
    </fieldset>
    <div>
      <button class="btn btn-outline-info" type="submit">submit testreg</button>
    </div>
  </form>
</div>
{% endblock content %}
